* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}